.list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 40%;
    text-decoration: line-through;
}

.done {
    text-decoration: overline;
}

.removeBtn {
    border-radius: 8px;
    border: none;
    padding: 0.6em 1.2em;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    margin-left: 10%;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
}

.taskText {
    text-align: left;
}